<div class="Datospersonales">
    <h3>Entorno Educativo</h3>

    <div class="formulario">
        <em>NoDoc</em><input id="NoDoc" type="text" [(ngModel)]="NoDoc">
        <em>Otras Instituciones</em><input id="RazonNoOtrasInst" type="text" [(ngModel)]="RazonNoOtrasInst"><br><br><br>
        <em>Ultimo Grado</em> <input id="UltimoGrado" type="text" [(ngModel)]="UltimoGrado">
        <em>Cambio de Institucion</em> <input id="RazonCambioInst" type="text" [(ngModel)]="RazonCambioInst">
        <em>Observaciones</em> <input id="Observaciones" type="text" [(ngModel)]="Observaciones">
        <em>IOtras Instituciones PIAR</em> <input id="InstInfPIAR" type="text" [(ngModel)]="InstInfPIAR">
        <em>Programas Complementarios</em> <input id="ProgComp" type="text" [(ngModel)]="ProgComp">
    </div>
</div>
<router-outlet></router-outlet>

