<div class="Datospersonales">
    <h3>Entorno Hogar</h3>

    <div class="formulario">
        <em>NoDoc</em><input id="NoDoc" type="text" [(ngModel)]="NoDoc">
        <em>Nombre del Padre</em><input id="Pare" type="text" [(ngModel)]="Padre">
        <em>Nombre de la Madre</em> <input id="Madre" type="text" [(ngModel)]="Madre">
        <em>Ocupación del Padre</em> <input id="OcupPadre" type="text" [(ngModel)]="OcupPadre">
        <em>Ocupación de la Madre</em> <input id="OcupMadre" type="text" [(ngModel)]="OcupMadre">
        <em>Nivel Educativo Padre</em> <input id="NivEduPadre" type="text" [(ngModel)]="NivEduPadre">
        <em>Nivel Educativo Madre</em> <input id="NivEduMadre" type="text" [(ngModel)]="NivEduMadre">
        <em>Cuidador Permanente</em> <input id="Cuidador" type="text" [(ngModel)]="Cuidador">
        <em>Parentesco</em> <input id="Parentesco" type="text" [(ngModel)]="Parentesco">
        <em>Nivel Educativo Cuidador</em> <input id="NivEduCuidador" type="text" [(ngModel)]="NivEduCuidador">
        <em>Teléfono Cuidador</em> <input id="TelfCuidador" type="text" [(ngModel)]="TelefCuidador">
        <em>E-mail Cuidador</em> <input id="EmailCuidador" type="text" [(ngModel)]="EmailCuidador">
        <em>No de Hermanos</em> <input id="NoHnos" type="text" [(ngModel)]="NoHnos">
        <em>Lugar que Ocupa entre Hermanos</em> <input id="LugarHnos" type="text" [(ngModel)]="LugarHnos">
        <em>Personas con quien vive</em> <input id="PersonasVive" type="text" [(ngModel)]="PersonasVive">
        <em>Apoyo en la Crianza</em> <input id="ApoyoCrianza" type="text" [(ngModel)]="ApoyoCrianza">
        <em>Se encuentra Bajo Proteccion</em> <input id="BajoProteccion" type="checkbox" [(ngModel)]="BajoProteccion">
        <em>Recibe Subsidios del Estado</em> <input id="FliaRecibeSubs" type="checkbox" [(ngModel)]="FliaRecibeSubs">
        <em>Tipo de Subsidio que recibe</em> <input id="TipoSubs" type="text" [(ngModel)]="TipoSubs">
    </div>
</div>
<router-outlet></router-outlet>

<router-outlet></router-outlet>